/* ----LANNDING----- */
.Seo {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    white-space: nowrap;
}

.Landing {
    width: 99vw;
    margin-top: 20vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(C:\Users\sofis\Documents\olymposvillage\src\images\pool-hotel.png);
    height: 80vh;
    object-fit: cover;
    background-size: cover;
    background-position: center 60%;
    background-repeat: no-repeat;
    z-index: -1;
}

.LandingImage {
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    object-position: center 60%;
    margin-top: 20vh;
    z-index: -1;
    filter: brightness(50%);
}

.Title {
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 35vh;
    font-size: 3em;
    /*    letter-spacing: 15px; */
    letter-spacing: 5px;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

/* -------THE VILLAGE------- */

.TheVillage {
    background-color: #E5E0D8;
    display: flex;
    width: calc(100vw - 1em);
}

.Village {
    width: 40vw;
}

.WrapperVillage {
    padding-left: 2em;
    width: calc(100vw - 2em);
}

.WrapperVillage h4 {
    color: #D2AB80;
    font-weight: 500;
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 2em;
}

.WrapperVillage h2 {
    color: #809671;
    font-size: 3em;
    margin: 0;
    line-height: 1.3em;
    width: min-content;
}

.WrapperVillage p {
    width: 80%;
    color: #2D2D2D;
    font-size: larger;
}

.WrapperVillage button {
    background-color: #D2AB80;
    border-radius: 0;
    padding: 0.7em 4em 0.7em 4em;
    color: #E5E0D8;
    border: none;
    outline: none;
}

/* --------ACCOMMODATION-------- */

.Accommodation {
    position: relative;
}

.AccommodationImages {
    display: flex;
    object-fit: cover;
}

.Accommodation img {
    width: 33vw;
    height: 80vh;
    object-fit: cover;
    filter: brightness(69%);
}

.Accommodation h2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
}

.Accommodation button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #D2AB80;
    border-radius: 0;
    padding: 0.7em 6em 0.7em 6em;
    color: #E5E0D8;
    border: none;
    outline: none;
}

/* ----------RESTAURANT---------- */

.Restaurant {
    background-color: #E5E0D8;
    display: flex;

}

.RestoImg {
    width: 40vw;
    height: 70vh;
    object-fit: cover;
}

.WrapperRestaurant {
    padding-left: 2em;
}

.WrapperRestaurant h4 {
    color: #D2AB80;
    font-weight: 500;
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 2em;
}

.WrapperRestaurant h2 {
    color: #809671;
    font-size: 3em;
    margin: 0;
    line-height: 1.3em;
}

.WrapperRestaurant p {
    width: 80%;
    color: #2D2D2D;
    font-size: larger;
}

.WrapperRestaurant button {
    background-color: #D2AB80;
    border-radius: 0;
    padding: 0.7em 4em 0.7em 4em;
    color: #E5E0D8;
    border: none;
    outline: none;
    margin-bottom: 2em;
}

/* ---------ACTIVITIES---------- */

.Activities {
    background-color: #B3B792;
    display: flex;

}

.ActivitiesImg {
    width: 40vw;
    height: 70vh;
    display: block;
    line-height: 0;
}

.Kayak {
    height: 40%;
    width: 40vw;
    object-fit: cover;
    object-position: center 80%;
}

.Hiking {
    height: 60%;
    width: 40vw;
    object-fit: cover;
}

.WrapperActivities {
    padding-right: 2em;
    text-align: right;
    padding-left: 15%;

}

.WrapperActivities h4 {
    color: #725C3A;
    font-weight: 500;
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 2em;
}

.WrapperActivities h2 {
    color: #E5E0D8;
    font-size: 3em;
    margin: 0;
    line-height: 1.3em;
}

.WrapperActivities p {
    color: #2D2D2D;
    font-size: larger;
}

.WrapperActivities button {
    background-color: #725C3A;
    border-radius: 0;
    padding: 0.7em 4em 0.7em 4em;
    color: #E5E0D8;
    border: none;
    outline: none;
    margin-bottom: 2em;
}

/* ---------CONTACT---------- */

.Contact {
    background-color: #E5D2B8;
    color: #725C3A;
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 20vh;
}

.Contact h2 {
    font-size: 3em;
}

.Contact p {
    font-size: 2em;
    font-style: italic;
    font-weight: 300;
    text-decoration: none;
    color: #725C3A;
}

@media (max-width: 768px) {
    .Landing {
        width: 100vw;
        height: 80vh;
        margin-top: 20vh;
        margin-bottom: -10px;
    }

    .Title {
        font-size: 2em;
        letter-spacing: 3px;

    }

    .TheVillage {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .Village {
        width: 100vw;
        height: 50vh;
        object-fit: cover;
    }

    .WrapperVillage {
        width: calc(100vw - 2em);
    }

    .WrapperVillage button {
        margin-bottom: 2em;
    }

    .WrapperVillage h2 {
        font-size: 2.5em;
    }

    .Accommodation {
        width: 100vw;
    }

    .Accommodation img {
        width: 33.333333vw;
    }

    .AccommodationImages {
        width: 100vw;
    }

    .AccommodationImages h2 {
        font-size: 2em;
    }

    .AccommodationImages button {

        width: 50vw;
        padding-left: 0;
        padding-right: 0;
    }

    .Restaurant {
        display: flex;
        flex-direction: column;
    }

    .WrapperRestaurant h2 {
        font-size: 2.5em;
    }

    .RestoImg {
        width: 100vw;
        height: 40vh;
    }

    .Activities {
        display: flex;
        flex-direction: column;
    }

    .ActivitiesImg {
        width: 100vw;
        height: 30vh;
    }

    .WrapperActivities h2 {
        font-size: 2.5em;
    }

    .Kayak {
        width: 50%;
        height: 100%;
    }

    .Hiking {
        width: 50%;
        height: 100%;
    }

    .Contact {
        height: 20vh;
        padding: 2em 0 2em 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .Contact h2 {
        font-size: 1.5em;
        margin: 0;
    }

    .Contact p {
        font-size: 1em;
    }
}