.Wrapper {
    display: block;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
}

.Logo {
    height: 10vh;
    width: 100vw;
    background-color: #E5E0D8;
    text-align: center;
    display: flex;
    /* centrar con flex en vez de text-align */
    justify-content: center;
    align-items: center;
}

.Logo img {
    height: 8vh;
    padding-top: 1vh;
    pointer-events: auto;
}

.NavBar {
    height: 10vh;
    width: 100vw;
    background-color: #809671;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

ol {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-right: 1em;
}

li {
    color: #E5E0D8;

}


.Btn_Language button {
    background-color: #E5E0D8;
    color: #809671;
    border-radius: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;

}

.Mobile {
    display: none;
}

@media (max-width: 1000px) {
    .NavBar {
        display: none;
    }

    .Mobile {
        display: flex;
        height: 10vh;
        background-color: #809671;
        align-items: center;
    }

    .Menu_Burger {
        height: 40px;
        width: 40px;
        margin-left: 1em;
        margin-top: 10px;
        position: fixed;
        top: 10vh;
        z-index: 999;
    }
}